* {
    box-sizing: border-box;
}

body {
    
    padding: 20px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p, button, li, h1, h2, h4, h3 {
    color: #742305;
}

/* header */
header {
    background-color: #FEF7E2;
    height: 300px;
    border-radius: 90px;
    margin-bottom: 20px;
}

nav {
    display: flex;
    height: 100%;
    align-items: center;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
    height: 80%;
}

nav ul li {
    background-color: #FFDF7F;
    margin: 10px;
    padding: 5px;
    border-radius: 40px;
    width: 35%;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav ul li:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-size: 1.6em;
    border-radius: 50px;
    padding: 20px;
    
}

nav ul li img {
    width: 15%;
    margin-right: 15px;
}


/* main */
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px 50px;
    
}


/* card */
.card {
    border-radius: 40px;
    background-color: #FEF7E2;
    overflow: hidden;
    margin-bottom: 40px;
}

.card img {
    width: 100%;
    
}

.cardBottom {
    
    padding: 20px 10px;
    border-radius: 0 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.cardText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    
}

.cardText div {
    text-align: center;
}
.cardText h4 {
    font-weight: bold;
    font-size: 1.2em;
}

.cardBottom button {
    
    background-color: #FFDF7F;
    border: none;
    font-weight: bolder;
    
    padding: 10px 50px;
    border-radius: 30px;
    
    
}

.card:nth-of-type(5) {
    display: none;
}

/* section */

h2 {
    text-align: center;
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 30px 50px;
}

#latestNews {
    padding: 30px;
    background-color: #FEF7E2;
    border-radius: 30px;    
}

#latestNews h3 {
    font-size: 1.3rem;
    font-weight: bolder;
    margin: 0 0 1em;
}

#latestNews img {
    width: 100%;
    margin: 2em 0;
}

#latestNews p {
    line-height: 1.5em;
}

@media screen and (min-width: 500px) {
    body {
        padding: 0;
        
    }
    
    header {
        height: auto;
        border-radius: 0;
    }

    nav ul li:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        font-size: 1.4em;
        border-radius: 50px;
        padding: 25px 0px;
        order: 1;

        
    }

    nav ul li:nth-child(5) {
        order: 3;
    }

    nav ul li:nth-child(4) {
        order: 2;
    }

    nav ul li {
        background-color: #FFDF7F;
        margin: 10px 5px;
        padding: 15px 0px;
        border-radius: 40px;
        width: 15%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 0.8em;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    nav ul li img {
        width: 20%;
        margin-right: 15px;
    }

    /* main */
    main {
        margin: 0 10px;
    }
    
    h1 {
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px 0;
    }

    /* card */

    #cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 48%;
    }

    /* section */

    h2 {
    text-align: left;
    font-size: 2rem;
    font-weight: bolder;
    margin: 30px 0 10px;
    }
}

@media screen and (min-width: 769px) {
    body {
        display: flex;
    }

    header {
        width: 25%;
        margin: 0;
        
    }

    main {
        width: 75%;
    }

    nav ul {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: flex-start;
        align-items: center;
        height: auto;
        width: 90%;
        margin-top: 20px;
    }

    nav {
        height: auto;
        justify-content: center;
        position: sticky;
        top: 0;
        
    }

    nav ul li {
        background-color: #FFDF7F;
        margin: 10px 5px;
        padding: 35px 0px;
        border-radius: 40px;
        width: 75%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 0.8em;
    }

    nav ul li:nth-child(1) {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.4em;
        order: -1;
        padding: 30px 0px;

        
    }

    /* main */
    main {
        margin: 10px 30px 0;
    }
    
    h1 {
    text-align: left;
    font-size: 2.8rem;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 0;
    }

    /* card */

    #cardContainer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .card {
        width: 31%;
    }

    .card:nth-of-type(4) {
        display: none;
    }

    .cardBottom button {
    
        background-color: #FFDF7F;
        border: none;
        font-weight: bolder;
        padding: 10px 20px;
        border-radius: 30px;
        
        
    }

    .cardText {
        justify-content: space-between;
    }

    .cardText h4 {
        font-weight: bold;
        font-size: 1em;
    }
    
    .cardText p {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 1024px) {
    .card:nth-of-type(4) {
        display: block;
    }

    header {
        width: 20%;
        
    }

    main {
        width: 80%;
    }

    nav ul {
        width: 75%;
    }

    .card {
        width: 23%;
    }
}

@media screen and (min-width: 1400px) {
    .card:nth-of-type(5) {
        display: block;
    }

    header {
        width: 13%;
        
    }

    main {
        width: 87%;
    }

    .card {
        width: 18%;
    }

    #latestNews {
        display: flex;
        align-items: flex-start;
    }

    #latestNews img {
        width: 50%;
        order: -1;
        margin: 0;
        margin-right: 20px;
    }

    nav ul li {
        background-color: #FFDF7F;
        margin: 10px 5px;
        padding: 40px 0px;
        border-radius: 45px;
        width: 75%;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        font-size: 0.8em;
    }
}