/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 1.6rem;
}

#testoAlternato {
    font-size: 1.5em;
    font-weight: bold;
    border: 3px solid gray;
    padding: 20px 80px 20px 10px;
    line-height: 2em;
}

.parole {
    color: #6A889C;
}

.parole i {
    visibility: hidden;
    display: inline-block;
}
i:first-child {
    animation: animazione 15s linear 0s infinite;
}
i:nth-child(2) {
    transform: translate(-250px, -200px);
    animation: animazione2 15s linear 5s infinite;
    
    
}

i:nth-child(3) {
    transform: translate(-510px, -200px);
    animation: animazione3 15s linear 10s infinite;
}

@keyframes animazione {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translate(0, -200px);
    }
    
    16% {
        opacity: 1;
        transform: translate(0,0);
    }

    33% {
        opacity: 1;
        transform: translate(0,0);
    }

    49% {
        opacity: 0;
        transform: translate(0, 200px);
    }

    100% {
        opacity: 0;
        transform: translate(0, -200px);
    }
}

@keyframes animazione2 {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translate(-250px, -200px);
    }
    
    16% {
        opacity: 1;
        transform: translate(-250px,0);
    }

    33% {
        opacity: 1;
        transform: translate(-250px,0);
    }

    49% {
        opacity: 0;
        transform: translate(-250px, 200px);
    }

    100% {
        opacity: 0;
        transform: translate(-250px, -200px);
    }
}

@keyframes animazione3 {
    0% {
        visibility: visible;
        opacity: 0;
        transform: translate(-510px, -200px);
    }
    
    16% {
        opacity: 1;
        transform: translate(-510px,0);
    }

    33% {
        opacity: 1;
        transform: translate(-510px,0);
    }

    49% {
        opacity: 0;
        transform: translate(-510px, 200px);
    }

    100% {
        opacity: 0;
        transform: translate(-510px, -200px);
    }
}